@page
@model WEB315_Assignments_ThemeSwim.Pages_ThemeSwim.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThemeSwim[0].EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThemeSwim[0].BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThemeSwim[0].Competition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThemeSwim[0].PoolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThemeSwim[0].EntryPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ThemeSwim) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryPrice)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
